<h1>Workspaces#show</h1>
<p>Find me in app/views/workspaces/show.html.erb</p>
<div class="d-flex">
  <div class="min-vh-100">
      <%= render 'workspaces/template_menu', categories: @categories %>
    <div>
      <%= render 'categories/form', category: @category %>
    </div>
  </div>
  <div style="background: salmon; padding: 40px;" class ="min-vh-100 vw-100">
    <%= turbo_frame_tag :workspace_content do %>
      <p>Initial content to display for workspace</p>
      <%= render 'templates/form', template: @template, category: nil %>
    <% end %>
  </div>
</div>
<%# <%= link_to 'create a new category', new_category_path %>
<br>
